[com_0]
type=model
x=259
y=85
width=32
height=32
model=com_i516
zoom=246
xan=295

[com_1]
type=model
x=259
y=85
width=32
height=32
model=com_i517
anim=seq_2675
activeanim=seq_2675
zoom=246
xan=295

[com_2]
type=model
x=255
y=84
width=32
height=32
model=com_i518
anim=seq_2684
activeanim=seq_2684
zoom=246
xan=293

[com_3]
type=model
x=205
y=75
width=32
height=32
model=com_i518
anim=seq_2684
activeanim=seq_2684
zoom=246
xan=295
yan=110

[com_4]
type=model
x=259
y=85
width=32
height=32
model=com_i519
anim=seq_2684
activeanim=seq_2684
zoom=246
xan=295

[com_5]
type=graphic
x=178
y=150
buttontype=normal
width=66
height=40
option=Turn anti-clockwise

[com_6]
type=graphic
x=278
y=150
buttontype=normal
width=66
height=40
option=Turn clockwise

[com_7]
type=model
x=259
y=85
width=32
height=32
script1op1=pushvar,if1
script1=eq,1
model=com_i520
activemodel=com_i521
zoom=246
xan=295

[com_8]
type=model
x=259
y=85
width=32
height=32
script1op1=pushvar,if1
script1=eq,2
model=com_i522
activemodel=com_i523
zoom=246
xan=295

[com_9]
type=text
x=428
y=12
buttontype=close
width=74
height=14
font=p12_full
shadowed=yes
text=Close Window
colour=0xFFFF00
